<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResepMakanan"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ResepMakanan.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GudegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaksoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelurBaladoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KleponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SateBabiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MieAyamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RendangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NasiGorengActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>